# Airflow and Postgres
POSTGRES_PW=<insert-your-password-here>
POSTGRES_ADMIN=<insert-your-adminname-here>
POSTGRES_DB=<name_of_metadat-databank>
FERNET_KEY=<created_fernet_key>
AIRFLOW_ADMIN=<insert-your-airflow-admin-name-here>
AIRFLOW_PW=<insert-your-airflow-password-here>